absl-py==1.4.0
accelerate==1.7.0
aiofiles==23.2.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.5
attrs==23.1.0
audioread==3.0.0
babel==2.17.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blis==0.7.10
cachetools==5.3.1
catalogue==2.0.9
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cmake==3.27.4.1
comm==0.1.4
confection==0.1.3
contourpy==1.1.0
cycler==0.11.0
cymem==2.0.7
Cython==3.0.2
dataclass-wizard==0.35.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.32.2
dm-tree==0.1.8
einops==0.6.1
exceptiongroup==1.3.0
execnet==2.0.2
executing==1.2.0
expecttest==0.1.3
fastapi==0.112.2
fastjsonschema==2.18.0
ffmpy==0.6.0
filelock==3.12.4
flash-attn==2.0.4
fonttools==4.42.1
fqdn==1.5.1
gast==0.5.4
gradio==4.35.0
gradio_client==1.0.1
grpcio==1.58.0
h11==0.16.0
hf-xet==1.1.3
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.32.4
hypothesis==5.35.1
idna==3.10
importlib_resources==6.5.2
iniconfig==2.0.0
inquirerpy==0.3.4
intel-openmp==2021.4.0
ipykernel==6.25.2
ipython==8.15.0
ipython-genutils==0.2.0
ipywidgets==8.1.7
isoduration==20.11.0
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpointer==3.0.0
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyterlab>3.0
kiwisolver==1.4.5
langcodes==3.3.0
librosa==0.9.2
llvmlite==0.40.1
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==3.0.1
mkl==2021.1.1
mkl-devel==2021.1.1
mkl-include==2021.1.1
mock==5.1.0
mpmath==1.3.0
murmurhash==1.0.9
narwhals==1.42.0
nbclient==0.8.0
nbconvert==7.8.0
nbformat==5.9.2
nest-asyncio==1.5.7
networkx==2.6.3
ninja==1.11.1
notebook==6.4.10
notebook_shim==0.2.4
numpy==1.22.2
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-dali-cuda120==1.29.0
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
nvidia-pyindex==1.0.9
oauthlib==3.2.2
orjson==3.10.18
overrides==7.7.0
packaging==23.1
pandocfilters==1.5.0
parso==0.8.3
peft==0.15.2
pexpect==4.8.0
pfzy==0.3.4
pickleshare==0.7.5
platformdirs==3.10.0
pluggy==1.3.0
polygraphy==0.49.0
pooch==1.7.0
preshed==3.0.8
prettytable==3.9.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.24.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
pydub==0.25.1
Pygments==2.16.1
pyparsing==3.1.1
pytest==7.4.2
pytest-flakefinder==1.1.0
pytest-rerunfailures==12.0
pytest-shard==0.1.2
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-hostlist==1.23.0
python-json-logger==3.3.0
python-multipart==0.0.20
pytorch-quantization==2.1.2
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rpds-py==0.10.3
rsa==4.9
ruff==0.11.13
safetensors==0.5.3
semantic-version==2.10.0
Send2Trash==1.8.2
shellingham==1.5.4
six==1.16.0
smart-open==6.4.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
sphinx-glpi-theme==0.3
srsly==2.4.7
stack-data==0.6.2
starlette==0.38.6
sympy==1.13.1
tabulate==0.9.0
tbb==2021.10.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.17.1
thinc==8.1.12
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.21.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
torch==2.6.0
torchvision==0.21.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
transformers==4.48.2
triton==3.2.0
types-dataclasses==0.6.6
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
uri-template==1.3.0
urllib3==2.4.0
uvicorn==0.34.3
wasabi==1.1.2
wcwidth==0.2.6
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==2.3.7
widgetsnbextension==4.0.14
xdoctest==1.0.2
